{extend name="layout/layout"}
{block name="content"}
<div class="activity-banner">
    <img src="__STATIC__/home/images/activity/banner.png" alt="" width="100%">
    <div class="container activity-banner-detail">
        <div class="landmark">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0ZQhx2ZnH1E" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 col-sm-4">
            <h2 class="text-gradient" data-text="WHY">WHY</h2>
            <p class="text-detail-p">
                "Change & Innovation" is what we believe in. A more secure and valuable choice is what we aspire to offer.
                Without compromising quality, we've come together to make a strong impact
                on the food imports industry by leading exceptional source suppliers into China.
            </p>

        </div>
        <div class="col-md-4 col-sm-4">
            <h2 class="text-gradient" >HOW</h2>
            <p class="text-detail-p">
                Through branding, storytelling, media exposure and other means of promotion, we bring in overseas "hidden champions" into China.
                That's how we get geo-granted products' cultural and economic values expanded and implemented in the Chinese market.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <h2 class="text-gradient">WHAT</h2>
            <p class="text-detail-p">
                At the Landmarked Agrifood Show, what we offer is an immersive experience of product display, product application,
                direct connection with our buyers and partners,
                etc. The seed of mutual understanding and trust is planted for you to get a BUMPER harvest in China.
            </p>
        </div>
    </div>
</div>






<div class="about-detail love-box activity-main">



    <div class="login-activity">
        <img src="__STATIC__/home/images/activity/bg.png" alt="" width="100%">
        <div class="container login-activity-detail">

            <div class="login-activity-detail-text">
                <div class="col-md-6 col-sm-6 activity-depict">
                    <h2 class="text-gradient activity-gradient">Intelligent Exhibition</h2>
                    <div class="login-activity-text">
                        <p class="about-head-detail activity-p">
                            Supported by digital purchasing tools, More-V’s incorporated WeChat Store (www.more-v.net), 89 cutting-edge robots,
                            30 intelligent TVs, and many other intelligent tools to carry out precise match between the overseas
                            supplier and the domestic buyer in China.
                        </p>
                        <img src="__STATIC__/home/images/activity/01.png" alt="">
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 activity-depict activity-depict-right">
                    <h2 class="text-gradient activity-gradient">SIAL Innovation</h2>
                    <div class="login-activity-text">
                        <p class="about-head-detail activity-p">
                            Faced with a growing number of the middle class in China, quality & customized services are required to satisfy the consumer’s demand.
                            “Change & Innovation” now works as the prime principle in the food imports industry. Get your entrance ticket
                            &show your “hidden champion” on the global stage!
                        </p>
                        <img src="__STATIC__/home/images/activity/02.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 activity-depict">
                    <h2 class="text-gradient activity-gradient activity-gradientes" style="line-height:43px;">
                        Visual Mapping Restaurant<br/>
                        <i class="text-gradient-i">- from upstream sources to the real tables</i>
                    </h2>
                    <div class="login-activity-text">
                        <p class="about-head-detail activity-p">
                            The Naked-Eye 3D show of being a little cook catches people’s eyes. Everyone sits there, staring at how a delicious cuisine is cooked.
                            More-V’s used an interesting way to show quality food security and offer various choices of
                            the same product category from different suppliers overseas.
                        </p>
                        <img src="__STATIC__/home/images/activity/03.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 activity-depict activity-depict-l">
                    <h2 class="text-gradient activity-gradient">
                        World Tours
                    </h2>
                    <div class="login-activity-text">
                        <p class="about-head-detail activity-p">
                            Scenery is to traveling, and so is cuisine! Partnered with Nielsen, SIAL China and other organizations,
                            we combine our BAB big data to conduct not only industrial analysis but also selection of our business visits
                            to plants/farms/brand owners overseas.
                        </p>
                        <img src="__STATIC__/home/images/activity/04.png" alt="">
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 activity-depict">
                    <h2 class="text-gradient activity-gradient">
                        Face-to-Face Negotiation
                    </h2>
                    <div class="login-activity-text">
                        <p class="about-head-detail activity-p">
                            More-V clearly knows the background, capabilities and needs of both domestics buyers and international suppliers so
                            that both parties can directly connect with each other.
                            “All in Knockdown Price! No more Breakdown!” allows our clients to share discounts, product application & innovation, and much more!
                        </p>
                        <img src="__STATIC__/home/images/activity/05.png" alt="">
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 activity-depict">
                    <h2 class="text-gradient activity-gradient">After Party</h2>
                    <div class="login-activity-text">
                        <p class="about-head-detail activity-p">
                            Network expansion
                        </p>
                        <img src="__STATIC__/home/images/activity/6.jpg" alt="">
                    </div>

                </div>
            </div>

        </div>
    </div>




</div>

{/block}