{extend name="layout/layout"}
{block name="content"}


<div class="event-detail-banner">
    <img src="__STATIC__/home/images/banner1.jpg" alt="">
        <div class="container event-detail-banner_img">
            <!--<img src="images/down.png" alt="">-->
        </div>
</div>

<div class="event-detail-main">
    <div class="container event-detail">
        <div>
            <h2 class="event-detail-head">More-V's TRIPLE EFFECT</h2>
            <p class="event-detail-content">
                More-V's first event of Landmarked Agrifood Show- Supermarket Retailers Fair has
                gathered more than 10 international
                suppliers and 70 Chinese buyers to catch up with the trend of New Retailing.
            </p>
            <p class="event-detail-line"></p>
        </div>
        <div class="event-grids">
            <div class="col-md-7 event-grids-left">
                <h3 class="event-grids-head">Face-to-Face Negotiation</h3>
                <p class="event-grids-content">
                    Directly connect with domestic buyers in China from different distribution channels.
                </p>
                <p class="event-grids-content">
                    On the 28th of July at Lushangu (Weat) Agricultural Innovation & Development Center in Shenzhen,
                    tens of suppliers had their products displayed & tasted. At the event, More-V's successfully
                    worked as a savory connection helping the seller and the buyer understand each other
                    better and total freedom was given to negotiate. Those products with geo-granted features
                    include dried mango from Taiwan, cranberries, nuts, and chocolate from the U.S.,
                    wine from Argentina, dates from the UAE,
                    protein energy bars from France, just to name a few. See our clients at: www.edimall.com
                </p>
            </div>
            <div class="col-md-5 event-grids-right">
                <img src="__STATIC__/home/images/event.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="event-visit">

        <div class="event-visit-content">
            <h3 class="event-visit-content-h3">Supermarket Visits</h3>
            <p class="event-visit-content-p">Get to know your competitors & how you can promote and display your products.</p>
            <p class="event-visit-content-p">
                F5 Future Store- the unmanned supermarketimpressed us with its automated system in which
                you can get what you order (cooked food included) within 7-50 seconds. The automatic
                cleaning table is not an exception, either. Besides, a very warm welcome was given by
                Maxvalu supermarket. Overseas suppliers got a chance to know not only their competitors
                but also how they can stand out in product display. Compared with Maxvalu, the majority
                of Blt's products are imported.
                The potential of purchasing power after consumption upgrade in China was well presented.
            </p>
        </div>
        <div class="event-visit-img">
            <img src="__STATIC__/home/images/visit.jpg" alt="">
        </div>
    </div>
</div>



<div class="container event-orders">
    <h3 class="event-orders-h3">Receiving Orders</h3>
    <p class="event-orders-p">Meet, negotiate and receive orders- that's how simple and fast you can start doing business in China.</p>
    <p class="event-orders-p">
        Unlike traditional trading, More-V's Landmarked Agrifood Show- the three-day triple effect clearly demonstrates
        how quick and easy it is to start doing business in China.
        The supermarket plus other distribution channels are now ready to give orders and bring
        in overseas "hidden champions" to China! YOU CAN BE ONE OF THEM!
    </p>
</div>


<div class="container">
    <div class="title-all">
        <h3 class="title-more">
            Join Us!
        </h3>
        <p class="title-b"></p>
    </div>


    <div id="join-img">
                <img src="__STATIC__/home/images/event-detail/1.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/2.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/3.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/4.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/5.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/6.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/7.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/8.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/9.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/10.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/11.jpg" alt="">
                <img src="__STATIC__/home/images/event-detail/12.jpg" alt="">
    </div>
    <div class="join-img-gray"></div>
    <div class="join-showImg">
        <img src="__STATIC__/home/images/event-detail/12.jpg" alt="" class="bigImg">
        <img src="__STATIC__/home/images/prev.png" alt="" class="img-prev">
        <img src="__STATIC__/home/images/next.png" alt="" class="img-next">
    </div>

</div>



{/block}