{extend name="layout/layout"}
{block name="content"}

<div class="event-detail-banner">
    <img src="__STATIC__/home/images/lovebox.jpg" alt="">

</div>


<div class="event-detail-main love-box">
    <div class="container event-detail">
        <div>
            <h2 class="event-detail-head">This is “LoveBox”</h2>
            <p class="event-detail-content">
                share it with your loved ones!
            </p>
            <p class="event-detail-line"></p>
        </div>
        <div class="event-grids">
            <div class="col-md-7 event-grids-left">
                <h3 class="event-grids-head">LOVE BOX- an ALL-IN GIFT
                .</h3>
                <p class="event-grids-content">-An unprecedented word-of-mouth marketing tool for customer development:</p>
                <p class="event-grids-content"><br />
                Love Box is a high-tech, fun and innovative gadget &amp; gift used to resonate with your customers. It comes out with a visual and tasty experience in which your promo video and samples are put together to be introduced, tasted, and promoted. With a quick scan of the QR code, your web page will pop out instantly. </p>
                <p class="event-grids-content"><br />
                This is definitely a great innovation that transforms the way of meeting your clients and sending samples to a targeted, precise and professional group of customers.</p>
                <p class="event-grids-content"><br />
                Get your LOVE BOX go viral!</p>
            </div>
            <div class="col-md-5 event-grids-right">
                <img src="__STATIC__/home/images/love.jpg" alt="">
            </div>
        </div>
    </div>



    <div class="love-box-detail">
        <img src="__STATIC__/home/images/love-d.jpg" alt="" width="100%">
    </div>


    <div class="container event-detail">
        <div>
            <h2 class="event-detail-head">Instructions</h2>
            <p class="event-detail-line"></p>
        </div>
        <div class="event-grids">
            <div class="col-md-7 event-grids-left">
                <p class="event-grids-content">
                    <b class="plain-b">01</b> When you open the box, it will automatically play the video with loop playback. Once it closed, it will stop playing.
                </p>
                <p class="event-grids-content">
                    <b class="plain-b">02</b> Charge: Use USB to connect both computer and the box. Remember to close the box when charging. The charging time is 3~4 hours.

                </p>
                <p class="event-grids-content">

                    <b class="plain-b">03</b> The box cannot be blended, patted or dropped.
                </p>
                <p class="event-grids-content">

                    <b class="plain-b">04</b> You must turn off the video firstly before connect with the computer.
                </p>
                <p class="event-grids-content">

                    <b class="plain-b">05</b> About transferring the video: you can transfer videos from Love Box to PC, and also can transfer videos or files from PC/U dick to Love Box

                </p>
                <p class="event-grids-content">

                    We can exclusive customize the “LoveBox” for you, please scan QR code to contact staff if needed.

                </p>


            </div>
            <div class="col-md-5 event-grids-right">
                <img src="__STATIC__/home/images/love-tell02.jpg" alt="">
            </div>
        </div>
    </div>
</div>

{/block}