{extend name="layout/layout"}
{block name="content"}



<div class="about-banner">
    <img src="__STATIC__/home/images/about/banner.png" width="100%">
    <!--<h2 class="about-h2">What We Do</h2>-->
    <img src="__STATIC__/home/images/about/down.jpg" class="about-img">

</div>


<div class="about-detail love-box">
    <div class="container about-detail-main">
        <h2 class="about-head">Our Story</h2>
        <p class="about-head-detail">
            More-V first started out  with its headquarter in Seattle. With more than 18 years of importing raw materials,
            we've developed a profound understanding of pain points and opportunities
            in the food imports industry in China. Inspired by the social and economic change,
            More-V took an unprecedented step to partner with SIAL China and launched More-V BAB
            trade intelligence service platform- a more secure and valuable choice for domestic buyers and international suppliers.
        </p>
    </div>



    <div class="about-two-main">
        <div class="about-two-main-l">
            <p>
                International Trade

            </p>
            <p>
                National Sales

            </p>
            <p>
                IT Support
            </p>
        </div>
        <div class="about-two-main-c">
            <p>
                Designing

            </p>
            <p>
                Media

            </p>
            <p>
                Marketing
            </p>
        </div>
        <div class="about-two-main-r">
            <img src="__STATIC__/home/images/about/1.png" alt="">
        </div>
        <div class="about-two-main-pos">
            Our Team
        </div>

    </div>


    <div class="container event-detail">
        <div class="about-bottom">
            <h2 class="event-detail-head">Our Partners</h2>
            <p class="event-detail-line about-bottom-p"></p>
        </div>
        <ul class="about-bottom-main">
            <li class="col-md-4 col-sm-4 about-bottom-l">
                <div>
                    <img src="__STATIC__/home/images/about/zsz.png" alt="">
                </div>
                <p>SIAL China</p>
            </li>
            <li class="col-md-4 col-sm-4 about-bottom-c">
                <div>
                    <img src="__STATIC__/home/images/about/jd.png" alt="">
                </div>
                <p>7 clusters</p>
            </li>
            <li class="col-md-4 col-sm-4 about-bottom-r">
                <div>
                    <img src="__STATIC__/home/images/about/la.png" alt="">
                </div>
                <p>
                    Lushangu Agricultural Innovation
                    and Development Company
                </p>
            </li>
            <li class="col-md-4 col-sm-4 about-bottom-r">
                <div>
                    <img src="__STATIC__/home/images/about/on.png" alt="">
                </div>

            </li>
            <li class="col-md-4 col-sm-4 about-bottom-r">
                <div>
                    <img src="__STATIC__/home/images/logo9.jpg" alt="">
                </div>

            </li>
            <li class="col-md-4 col-sm-4 about-bottom-r">
                <div>
                    <img src="__STATIC__/home/images/logo10.png" alt="">
                </div>

            </li>
        </ul>
    </div>
</div>

{/block}






