{extend name="layout/layout"}
{block name="content"}

<div class="event-detail-banner">
    <img src="__STATIC__/home/images/vr/vr-banner.jpg" alt="">

</div>


<div class="event-detail-main love-box">
    <div class="container event-detail">
        <div class="event-grids">
            <div class="col-md-6 col-sm-6 col-xs-6 vr-grids-left">
                <img src="__STATIC__/home/images/vr/vr1.jpg" alt="">
                <p>General Edition </p>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 vr-grids-right">
                <img src="__STATIC__/home/images/vr/vr1.jpg" alt="">
                <p>Luxury Edition </p>
            </div>
        </div>
    </div>



    <div class="container event-detail smart-change">
        <div>
            <h2 class="event-detail-head">Features </h2>
            <p class="event-detail-line"></p>
        </div>
        <div class="event-grids smart-change-grids">
            <div class="col-md-7 col-sm-7 col-xs-7 event-grids-left">
                <p class="event-grids-content">
                    360-degree VR shooting
                </p>
                <p class="event-grids-content">
                    Ten codes processing chip
                </p>
                <p class="event-grids-content">

                    Full Netcom, dual card dual standby
                </p>
                <p class="event-grids-content">

                    4G + High Speed Internet Access
                </p>
                <p class="event-grids-content">

                    Speed HD shooting
                </p>
                <p class="event-grids-content">

                    Infrared temperature detection
                </p>
                <p class="event-grids-content">

                    Fingerprint recognition
                </p>
                <p class="event-grids-content">

                    TYPE C interface

                </p>
                <p class="event-grids-content">

                    OLED ture color screen
                </p>


            </div>
            <div class="col-md-5 col-sm-5 col-xs-5 event-grids-right">
                <img src="__STATIC__/home/images/vr/vr3.jpg" alt="">
            </div>
        </div>
    </div>




    <div class="container vr-box">
        <img src="__STATIC__/home/images/vr/vr4.jpg" alt="">
    </div>

</div>

{/block}