
{extend name="layout/layout"}

{block name="content"}

<div class="">
    <img src="__STATIC__/home/images/Selling/logo1.jpg" width="100%">
</div>


<div class="container service-detail">

    <h2>Import and Export Agent</h2>


    <p class="service-p">
        We have experienced professionals who’re dedicated to international trade as well as domestic
        and overseas logistics. We’re familiar with every detail involved in the import and export procedures.
        By years of practical experience, great logistics management as well as connection with government administrations,
        we successfully help our clients plan the best strategy with the highest speed and proper fees.
    </p>




</div>
{/block}