{extend name="layout/layout" /}
{block name="main"}
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Tables</h3>



            <div class="row">
                <div class="col-md-12">
                    <!-- PANEL HEADLINE -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title"><!--{:input('title')}--></h3>
                            <p class="panel-subtitle">  <!--{://$mail->fromName}&nbsp;&nbsp;&nbsp;&nbsp; {://$mail->date}--></p>
                        </div>
                        <div class="panel-body">
                            <!--<hr/>-->






                            <iframe  frameborder="0" id="iframepage" src="__URL__/email_content/id/{:input('id')}"   width="100%" onload="changeFrameHeight()">

                            </iframe>


                            <!--<h4>Panel Content</h4>-->
                            <!--<p>Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.</p>-->
                        </div>
                    </div>
                    <!-- END PANEL HEADLINE -->
                </div>


            </div>



        </div>
    </div>
</div>
<script>

    function setHeight(obj) {

       var h= $(obj).height();
//
//
//       $(obj).attr('height',h);
//
//
       console.log(h);

    }

    function changeFrameHeight(){
        var ifm= document.getElementById("iframepage");
        ifm.height=document.documentElement.clientHeight+600;
    }
    window.onresize=function(){
        changeFrameHeight();
    }

</script>

{/block}