{extend name="layout/layout"}
{block name="content"}



<div style="background:#F5F5F5;display:block;">
    <div class="sign_o">
        <img src="__STATIC__/home/images/center/banner.jpg" width="100%" class="sign_o_img">
        <div class="container sign_top">
            <div class="sign_top_detail ">
                <div class="sign_top_img ">
                    <a href="__MODULE__/user/sign_up">
                        <img src="__STATIC__/home/images/center/regist.png" alt="">
                    </a>
                </div>
            </div>

            <div class="sign_top_detail">
                <div class="sign_top_img">
                    <a href="__MODULE__/user/basic_info">
                        <img src="__STATIC__/home/images/center/basic.png" alt="">
                    </a>
                </div>
            </div>

            <div class="sign_top_detail">
                <div class="sign_top_img  active">
                    <a href="__MODULE__/user/event_series">
                        <img src="__STATIC__/home/images/center/event.png" alt="">
                    </a>
                </div>
            </div>

            <div class="sign_top_detail">
                <div class="sign_top_img ">
                    <a href="__MODULE__/user/products_info">
                        <img src="__STATIC__/home/images/center/product.png" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>



    <div class="sign_middle">
        <div class="sign_middle_detail sign_middle_s sign_middle_product" >

            <h2>Event Series</h2>
            <hr>

            <div class="sreen-gallery-cursual sreen-product">
                <div id="ow-demo" class="owl-carousel">


                    {tt:models   model="\app\home\model\Activity" limit='6' order='id desc'}
                    <div class="item-owl">
                        <div class="product_detail event_detail">
                            <!--活动结束-->
                            <h3>{$v.name}</h3>
                            <p><b>Activity time&nbsp;&nbsp;</b><span>{$v.a_time}</span></p>
                            <p><b>Status:&nbsp;&nbsp;</b><span>{$v.is_finished}</span></p>
                            <!--<p>-->
                                <!--&lt;!&ndash;<b class="event_b">Attendance:&nbsp;&nbsp;</b>&ndash;&gt;-->
                                <!--<img src="__STATIC__/home/images/center/yes.png" alt="">-->
                                <!--&lt;!&ndash;选中no显示的图片&ndash;&gt;-->
                                <!--<img src="__STATIC__/home/images/center/no-select.png" alt="">-->
                            <!--</p>-->

                            <!--活动回顾-->
                            <div class="event_click_div">

                                <!--{if $v.is_join}-->

                                <!--<a href="javascript:void(0)" class="event_cl]ick">Involved</a>-->
                                <!--{else/}-->
                                <!--<a href="__URL__/event_join/id/{$v.id}" class="event_click">Join Now</a>-->
                                <!--{/if}-->

                                <!--活动报名-->
                                {switch name="$v.is_join"}
                                 {case value="3"}<a href="__URL__/event_join/id/{$v.id}" class="event_bm">Join Now</a>{/case}
                                 {case value="2"}<a href="javascript:void(0)" class="event_yjbm">Involved</a>{/case}
                                 {case value="1"}<a href="javascript:void(0)" class="event_end">Expired</a>{/case}
                                <!--&lt;!&ndash;已经报名&ndash;&gt;-->
                                <!--<a href="" class="event_yjbm">Join Now</a>-->
                                <!--&lt;!&ndash;活动结束&ndash;&gt;-->
                                <!--<a href="" class="event_end">Involved</a>-->
                                {/switch}

                            </div>


                            <div class="event_img">
                                <a href="{$v.real_url}">
                                    <div class="event-img-detail">

                                        <div class="event-img-o">
                                            <div class="event-img-reg"></div>
                                            <div class="event-imgs">
                                                <img src="__STATIC__/home/images/center/+.png" alt="">

                                            </div>
                                            <img src="__FILE__/{$v.img}" class="event-bg">

                                        </div>

                                        <div class="event-big ">
                                            <div class="event-img-t">
                                                <div class="event-img-p">
                                                    <h3>{$v.name}</h3>
                                                    <p>Activity review</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </a>
                            </div>




                        </div>
                    </div>
                    {/tt:models}





                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#ow-demo').owlCarousel({
            items :3,
            itemsDesktop : [800,2],
            itemsDesktopSmall : [414,2],
            lazyLoad : true,
            autoPlay :false,
            navigation :true,
            navigationText :  ['<img src="__STATIC__/home/images/center/left.png">','<img src="__STATIC__/home/images/center/right.png">'],
            pagination : false,

        });

    });
</script>

<script>
    $('.event_img').hover(function(){
        $(this).find('.event-img-reg').css('border-left','700px solid transparent');
        $(this).find('.event-img-reg').css('border-bottom','700px solid rgba(5,154,229,0.7)');
        $(this).find('.event-img-p').css('opacity','1');
        $(this).find('.event-imgs').css('opacity','0');
    },function(){
        $(this).find('.event-img-reg').css('border-left','50px solid transparent');
        $(this).find('.event-img-reg').css('border-bottom','50px solid rgba(5,154,229,0.7)');
        $(this).find('.event-img-p').css('opacity','0');
        $(this).find('.event-imgs').css('opacity','1');


    })




</script>

{/block}

