{extend name="layout/layout" /}
{block name="main"}
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Tables</h3>

            <!--<div class="row">-->
            <!--<div class="col-md-6">-->
            <!-- TABLE STRIPED -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Striped Row</h3>
                </div>

                <div class="panel-body">
                    <button  type="button"  onclick="location.href='__MODULE__/admin/group_edit'" class="btn btn-success"> Add</button>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <!--<th>Group</th>-->
                            <!--<th>Group</th>-->
                            <th>Operating</th>
                        </tr>
                        </thead>
                        <tbody>

                        {foreach name="group" item="v"}
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.title}</td>
                            <!--<td>{$v.name}</td>-->
                            <!--<td>@steve</td>-->
                            <td><span  class="lnr lnr-pencil" style="" onclick="location.href='__MODULE__/admin/group_edit/id/{$v.id}'"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span onclick="delete_rule('{$v.id}')" class="lnr lnr-trash"></span></td>
                        </tr>
                        {/foreach}
                        <!--<tr>-->
                        <!--<td>2</td>-->
                        <!--<td>Simon</td>-->
                        <!--<td>Philips</td>-->
                        <!--<td>@simon</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>3</td>-->
                        <!--<td>Jane</td>-->
                        <!--<td>Doe</td>-->
                        <!--<td>@jane</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                    {$group->render()}
                </div>
            </div>
            <!-- END TABLE STRIPED -->
            <!--</div>-->

            <!--</div>-->

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<script>
    /**
     * 删除权限
     */
    function delete_rule(id) {

//        console.log(id);
        var re=confirm('Are you sure you want to delete?');

        if(re){

            location.href="__MODULE__/admin/group_delete/id/"+id;
        }

//        console.log(re);

    }


</script>
<!-- END MAIN -->

{/block}