<div id="mailContentContainer"
     style="font-size: 14px; padding: 0px; height: auto; min-height: auto; font-family: &quot;lucida Grande&quot;, Verdana; position: relative; zoom: 1; margin-right: 170px;">
    <div><font face="Times New Roman"><br></font></div>
    <div>
        <tincludetail>
            <div style="font:Verdana normal 14px;color:#000;">
                <div style="position:relative;"><font face="Times New Roman">
                    <div style="align:center;">
                        <table  class="" style="" border="0" cellpadding="0" cellspacing="0" width="100%"
                               height="">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <table id="outerTable" border="0" cellpadding="0" cellspacing="0" width="720"
                                           style="font-size: 18px; font-weight: 400; text-align: center; color: rgb(0, 0, 0); -webkit-font-smoothing: antialiased; background: rgb(10, 96, 173);">
                                        <tbody>
                                        <tr>
                                            <td id="battleTagWarning"
                                                style="background: -webkit-linear-gradient(left,#1D67AA,#019BE3);font-size: 20pt;border: 1px solid #959595;height: 28px;"
                                                height="40" valign="middle">
                                                <table  class="" style="" border="0" cellpadding="0"
                                                       cellspacing="0" width="100%" height="">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="middle" width="38" style="">
                                                            <img src=""
                                                                 style="display: block;border: none;margin-left: 10px;margin-right: 10px;">

                                                        </td>
                                                        <td height="50">
                                                            <div style="font-size: 10pt; color: rgb(255, 255, 255); -webkit-font-smoothing: antialiased; text-align: left;">

                                                                If you did not change your password on More-V.com, do
                                                                not click any buttons from this e-mail！


                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td style="text-align: left; color: rgb(191, 193, 197); padding: 0px 30px; background: rgb(245, 245, 245); border: 1px solid rgb(149, 149, 149);">
                                                <table  class="" style="" border="0" cellpadding="0"
                                                       cellspacing="0" width="100%" height="">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-weight: 200; font-size: 28px; color: rgb(0, 0, 0); padding: 40px 0px; margin: 0px; display: block;">
                                                            This is your CAPTCHA:
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table  class="" style="padding-bottom: 20px;" border="0"
                                                       cellpadding="0" cellspacing="0" width="100%" height="">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <em style="font-size: 28px; font-weight: 300; color: rgb(255, 138, 0); font-style: normal;">
                                                                {$code}
                                                            </em></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table  class="" style="" border="0" cellpadding="0"
                                                       cellspacing="0" width="100%" height="">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding: 0px 0px 20px; margin: 0px; color: rgb(0, 0, 0); display: inline-block; -webkit-font-smoothing: antialiased;">
                                                            <br></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 0px 20px; margin: 0px; color: rgb(0, 0, 0); display: inline-block; -webkit-font-smoothing: antialiased;">
                                                            Dear {$email}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table  class="" style="" border="0" cellpadding="0"
                                                       cellspacing="0" width="100%" height="">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding: 0px 0px 20px; margin: 0px; color: rgb(0, 0, 0); display: inline-block; -webkit-font-smoothing: antialiased;">
                                                            You are changing your password！If you don`t&nbsp; apply for
                                                            this. Please delete this e-mail.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 0px 20px; margin: 0px; color: rgb(0, 0, 0); display: inline-block; -webkit-font-smoothing: antialiased;">
                                                            <br></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table  class="" style="" border="0" cellpadding="0"
                                                       cellspacing="0" width="100%" height="">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding: 0px 0px 20px; margin: 0px; color: rgb(0, 0, 0); display: inline-block; -webkit-font-smoothing: antialiased;">
                                                            More-V International Trade Team
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0px 0px 20px; margin: 0px; color: rgb(0, 0, 0); display: inline-block; -webkit-font-smoothing: antialiased;">
                                                            <br></td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="color: rgb(0, 0, 0); border-top: 1px solid rgb(149, 149, 149); padding: 30px; text-align: center;">
                                                <table  class="" style="" border="0" cellpadding="0"
                                                       cellspacing="0" width="100%" height="">
                                                    <tbody>
                                                    <tr>
                                                        <td width="112" valign="top"></td>
                                                        <td width="100%" id="footer" valign="top"
                                                            style="text-align: center;">
                                                            <table  class="" style="" border="0" cellpadding="0"
                                                                   cellspacing="0" width="100%" height="">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-size: 15px; padding-bottom: 5px; color: rgb(0, 0, 0); display: block; -webkit-font-smoothing: antialiased; text-align: center;">
                                                                        If you have any questions, please contact <a
                                                                            href="mailto:info@more-v.net"
                                                                            target="_blank">info@more-v.
                                                                        <wbr>
                                                                        net</a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table  class="" style="" border="0" cellpadding="0"
                                                                   cellspacing="0" width="100%" height="">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-size: 15px; padding-bottom: 5px; color: rgb(0, 0, 0); -webkit-font-smoothing: antialiased; text-align: center;">
                                                                        Copyright © more-v.com All rights reserved.
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table  class="" style="" border="0" cellpadding="0"
                                                                   cellspacing="0" width="100%" height="">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-size: 12px; margin: 0px; padding-bottom: 5px; color: rgb(117, 123, 144); display: block; -webkit-font-smoothing: antialiased;"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>


                    <div>
                        <div style="color: rgb(144, 144, 144); font-size: 12px;"><br></div>
                        <div style="font-size: 14px; color: rgb(0, 0, 0);">
                            <div style="text-align: center;"><span style="width: 212px; height: 69px;"><img
                                    src="https://exmail.qq.com/cgi-bin/viewfile?type=signature&amp;picid=ZX0808-QOaiTdbDVdxufVUM0OIhI7l&amp;uin=680106918"
                                    modifysize="100%" diffpixels="25px" style="width: 212px; height: 69px;"></span><i
                                    style=""><font size="1"><br></font></i>
                                <div style=""><i><font size="1">Trade Intelligence+Service Prvider</font></i></div>
                                <img height="5" vspace="0" border="0" hspace="0" width="1"
                                     src="https://imgssl.constantcontact.com/letters/images/sys/S.gif"
                                     style="text-align: start;">
                                <div class="MaxMainWidth" align="center"
                                     style="margin-left: auto; max-width: 610px; margin-right: auto;">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr></tr>
                                        </tbody>
                                    </table>
                                    <table class="CC_NoEdit" border="0" width="100%" cellpadding="0" cellspacing="0"
                                           align="center" style="margin: 0px;">
                                        <tbody>
                                        <tr>
                                            <td valign="center" rowspan="1" colspan="1" align="center">
                                                <table border="0" width="1" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="SocialMediaIcon" valign="center" rowspan="1"
                                                            colspan="1" align="center" style="padding: 0px 5px;"><a
                                                                track="on" shape="rect"
                                                                href="https://www.facebook.com/morevusa/"
                                                                linktype="facebook" target="_blank"><img height="36" border="0" width="36" src="https://imgssl.constantcontact.com/ui/images1/ic_fbk_36.png" title="Like us on Facebook"></a>
                                                        </td>
                                                        <td class="SocialMediaIcon" valign="center" rowspan="1"
                                                            colspan="1" align="center" style="padding: 0px 5px;"><a
                                                                track="on" shape="rect"
                                                                href="https://twitter.com/more_usa" linktype="twitter"
                                                                target="_blank"><img height="36" border="0" width="36"
                                                                                     src="https://imgssl.constantcontact.com/ui/images1/ic_twit_36.png"
                                                                                     title="Follow us on Twitter"></a>
                                                        </td>
                                                        <td class="SocialMediaIcon" valign="center" rowspan="1"
                                                            colspan="1" align="center" style="padding: 0px 5px;"><a
                                                                track="on" shape="rect"
                                                                href="https://www.linkedin.com/company/more-vusa"
                                                                linktype="linkedin" target="_blank"><img height="36"
                                                                                                         border="0"
                                                                                                         width="36"
                                                                                                         src="https://imgssl.constantcontact.com/ui/images1/ic_lkdin_36.png"
                                                                                                         title="View our profile on LinkedIn"></a>
                                                        </td>
                                                        <td class="SocialMediaIcon" valign="center" rowspan="1"
                                                            colspan="1" align="center" style="padding: 0px 5px;"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div>www.more-v.com</div>
                                                <div><span
                                                        style=" color: rgb(95, 110, 124) ; ; ; ; ; ">&nbsp;</span><span
                                                        style=" color: rgb(95, 110, 124) ; ; ; ; ; "><a
                                                        href="mailto:info@more-v.net" target="_blank">info@more-v.<wbr>net</a></span>
                                                </div>
                                                <div><span
                                                        style=" color: rgb(95, 110, 124) ; ; ; ; ; ">(425) 777-6756</span>
                                                </div>
                                                <div><span style=" color: rgb(95, 110, 124) ; ; ; ; ; "><br></span>
                                                </div>
                                                <div style="font-size: 14px; text-align: start;"><p class="p1"
                                                                                                    style="line-height: normal; margin: 0px; font-stretch: normal; font-size: 13px;">
                                                    <font size="1" color="#999999">This e-mail and its attachments
                                                        contain confidential information from More-V,which is intended
                                                        only for the person or entity whose address is listed above.Any
                                                        use of the information contained herein in any way(including,but
                                                        not limited to,total or partial disclosure,reproduction,or
                                                        dissemination) by persons other than the intended recipient(s)
                                                        is prohibited.If you<span
                                                                class="Apple-converted-space">&nbsp; </span>receive this
                                                        e-mail in error,please notify the sender by phone or email
                                                        immediately and delete it.</font></p></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <table class="CC_NoEdit" style="margin:0px 0px 0px 0px;" border="0" width="100%"
                                       cellpadding="0" cellspacing="0" align="center">
                                    <tbody>
                                    <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </font></div>
            </div>
        </tincludetail>
    </div>  <!--<![endif]-->
    <style></style>
</div>