{extend name="layout/layout" /}
{block name="main"}

<style>
    .box {
        float: left;
        width: 16%;
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .input-upload {

        position: relative;
        overflow: hidden;

    }

    .input-upload input {

        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
    }

    .input-upload select {
        position: absolute;
        /*opacity: 0;*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*display: none;*/

    }

    .all {
        width: 50%;
        margin-bottom: 30px;

    }

    .cate {

        margin-bottom: 20px;

    }
    .list-enter-active, .list-leave-active {
        transition: all 1s;
    }
    .list-enter, .list-leave-to
        /* .list-leave-active for below version 2.1.8 */ {
        opacity: 0;
        transform: translateY(30px);
    }


</style>
<!-- MAIN -->
<div class="main" id="vue">

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Tables</h3>

            <!--<div class="row">-->
            <!--<div class="col-md-6">-->
            <!-- TABLE STRIPED -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">出库填表</h3>
                </div>

                <div class="panel-body">

                    <form action="__MODULE__/sample/storage_update" method="post"
                          enctype="multipart/form-data" @submit.prevent="submit">

                        <input type="hidden" name="id" v-model="data.id" />

                        <div >
                            <label>商品列表</label>

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <!--<th>序号</th>-->
                                    <th>商品名称</th>
                                    <th>批次(到货日期)</th>
                                    <th>仓库</th>
                                    <!--<th>剩余数量</th>-->
                                    <th>出库数量</th>
                                    <!--<th>费用</th>-->
                                    <th>过期时间</th>
                                    <th>现货</th>

                                </tr>
                                </thead>
                                <tbody>


                                <tr v-for="(v,i) in goods">


                                    <!--<td>{{i+1}}</td>-->
                                    <td>{{v| f('goods.name')}}</td>
                                    <td>{{v | f('sample_detail.arrive_time')}}</td>
                                    <td>{{v | f('sample_detail.warehouses.name')}}</td>
                                    <td>
                                        {{v.num}}
                                        <input type="hidden" :value="v.num" name="items[num][]"/>
                                        <input type="hidden" :value="v.stock_id" name="items[stock_id][]"/>
                                    </td>
                                    <!--<td>-->
                                        <!--<input class="form-control input-sm"  placeholder="输入数量" type="text" name="items[num][]" >-->
                                        <!--<input type="hidden" name="items[sample_detail_id][]"  />-->
                                        <!--<input type="hidden" name="items[stock_id][]" />-->
                                        <!--<input type="hidden" name="items[goods_id][]"  />-->

                                    <!--</td>-->
                                    <!--<td>-->
                                    <!--<input class="form-control input-sm" placeholder="输入费用" type="text">-->
                                    <!--</td>-->
                                    <td>{{v | f('sample_detail.expired_time')}}</td>

                                    <td><span v-if="v.sample_detail.is_port==1">是</span><span v-else>否</span></td>

                                </tr>

                                </tbody>


                            </table>


                        </div>



                        <!--<div class="all">-->
                            <!--<button type="button" class="btn btn-success" @click="openGoods()">选择商品</button>-->
                        <!--</div>-->

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>客户</th>
                                    <th>联系人</th>
                                    <th>电话</th>
                                    <th>地址</th>
                                    <th>跟进人</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{data | f('client.name')}}</td>
                                    <td>{{data.contact_name}}</td>
                                    <td>{{data.mobile}}</td>
                                    <td>{{data.p}}-{{data.c}}-{{data.a}}-{{data.detail}}</td>
                                    <td>{{data | f('client.admin.username')}}</td>
                                </tr>
                            </tbody>

                        </table>

                        <!--<div class="all">-->
                            <!--<label>客户</label>-->
                            <!--<h3>{{data | f('client.name')}}</h3>-->

                        <!--</div>-->


                        <!--<div class="all">-->
                            <!--<label>联系人</label>-->
                            <!--<h3>{{data.contact_name}}</h3>-->

                        <!--</div>-->

                        <!--<div class="all">-->
                            <!--<label>电话</label>-->
                            <!--<h3>{{data.mobile}}</h3>-->

                        <!--</div>-->

                        <!--<div class="all">-->
                            <!--<label>地址</label>-->
                            <!--<h3>{{data.p}}-{{data.c}}-{{data.a}}-{{data.detail}}</h3>-->

                        <!--</div>-->





                        <!--<div class="all" >-->
                            <!--<label>跟进人</label>-->
                            <!--<h3>{{data | f('client.admin.username')}}</h3>-->

                        <!--</div>-->


                        <div>
                            <div class="box">
                                <label>寄送方式</label>
                                <select class="form-control input-lg" name="send_type_id" required="required">
                                    <option value="">请选择</option>
                                    <option v-for="v in e" :value="v.id">{{v.name}}</option>
                                    <!--<option></option>-->

                                </select>
                            </div>


                            <div class="box">
                                <label>单号</label>
                                <input type="text" class="form-control input-lg" name="order_no" required="required"/>

                            </div>


                            <!--<div class="box">-->
                                <!--<label>联系人</label>-->
                                <!--<input type="text" class="form-control input-lg" name="contact_name" required="required"/>-->

                            <!--</div>-->




                            <div class="box">
                                <label>费用</label>
                                <input type="text" class="form-control input-lg" name="money" required="required"/>

                            </div>



                        </div>






                        <div class="clearfix"></div>


                        <button type="submit" class="btn btn-primary btn-lg" >提交</button>


                    </form>
                    <!--<input type="text" class="form-control" placeholder="text field">-->

                </div>


            </div>
        </div>
    </div>
</div>



<script>




    vm=new Vue({
        el:"#vue",
        data:{
            goods:[],
            data:{},
            e:[]

        },
        methods:{

            openGoods:function () {

                // console.log(1111111111);

                var context=this;

                openChildWindow.open( {
                        'id': 'ID',
                        'sampleDetail.goods.name': '商品名称',
                        'sampleDetail.arrive_time': '批次(到货日期)',
                        'sampleDetail.expired_time': '过期时间',
                        'sampleDetail.warehouses.name': '仓库',
                        'now': '剩余数量',
                        // 'brand.seller.country.name': '国家',
                        // 'brand.seller.name': '所属供应商',
                        // 'create_time': '创建时间',
                        // 'update_time': '更新时间'
                    },
                    'goods.name',
                    'StockModel',
                    function (data) {
                        // data = JSON.parse(data);
                        //
                        // context.items.table.push(data);

                        console.log(data);

                        context.items.table.push(data);



                        //
                        //
                        // console.log(data);
                        //
                        // $("#brand_id").val(data.id);
                        //
                        // $("#brand_name").val(data.name);

                    },'now',4,0,'sample_detail.goods');




            },
            submit:function (event) {


                ajax_submit(
                    '确定提交吗！',
                    '库存将不能删除和修改，请确认！',
                    '__MODULE__/sample/out',
                    $(event.target).serialize(),
                    function (data) {

                        console.log(data);
                        //
                        // swal('123');

                        if(data.code==1){

                            location.href="__MODULE__/sample/storage_out_list";

                        }else {

                            swal(data.msg,"",'error');

                        }

                        // if(data.code==1){
                        //
                        //     // location.href="__MODULE__";
                        //     // swal()history.go(-1);location.reload()
                        //     history.go(-1);
                        //     location.reload();
                        // }else {
                        //
                        //     swal(data.msg,'','error');
                        //
                        // }

                    }
                );




            },
            /**
             * 客户窗口
             */
            openWindow:function () {
                var context=this;

                openChildWindow.open( {
                        'id': 'ID',
                        'name': '客户名称',
                        'admin.username':"跟进人"

                        // 'brand.seller.country.name': '国家',
                        // 'brand.seller.name': '所属供应商',
                        // 'create_time': '创建时间',
                        // 'update_time': '更新时间'
                    },
                    'name',
                    'ClientModel',
                    function (data) {
                        // data = JSON.parse(data);
                        //
                        // context.items.table.push(data);

                        console.log(data);
                        context.name=data.name;
                        context.client_id=data.id;
                        context.username=data.admin.username;


                        //
                        // context.items.table.push(data);



                        //
                        //
                        // console.log(data);
                        //
                        // $("#brand_id").val(data.id);
                        //
                        // $("#brand_name").val(data.name);

                    });


            }


        },
        filters:{
            // date:function (val) {
            //
            //
            //     return
            // }
            f:function (val,key) {

                try{

                    return eval("val."+key);


                }catch (e){

                    // console.log(123);

                    return '';

                }

            }

        },
        created:function () {

            // console.log(1111111);

        }



    });



    $(function () {
        var sample='{$sample}';

        var e='{$e}';

        sample= getArrForString(sample);

        e=getArrForString(e);
        //
        //
        //
        // vm.$data.ck=ck;

        vm.$data.goods=sample.sample_out_detail;
        vm.$data.data=sample;
        vm.$data.e=e;

        console.log(sample);




    });


</script>

{/block}