<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="__STATIC__/admin/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/admin/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__STATIC__/admin/vendor/linearicons/style.css">
<link rel="stylesheet" href="__STATIC__/admin/vendor/chartist/css/chartist-custom.css">
<!-- MAIN CSS -->
<link rel="stylesheet" href="__STATIC__/admin/css/main.css">
<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
<link rel="stylesheet" href="__STATIC__/admin/css/demo.css">

<script src="__STATIC__/admin/vendor/jquery/jquery.min.js"></script>
<script src="__STATIC__/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__STATIC__/admin/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/admin/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="__STATIC__/admin/vendor/chartist/js/chartist.min.js"></script>
<script src="__STATIC__/admin/scripts/klorofil-common.js"></script>

<body>


<div class="panel">
<div class="panel-body">
    <input  required="required" value="{:input('name')}" id="seller_name" style="width: 30%;display: inline" class="form-control input-lg"   placeholder="名称" name="name" type="text">
    <button type="button" class="btn btn-success" onclick="search_seller()"><i class="fa fa-check-circle"></i> 搜索</button>
    <!--<button  type="button"  onclick="location.href='__MODULE__/brand/brand_edit'" class="btn btn-success"> Add</button>-->
    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <!--<th>ID</th>-->
            <!--<th>供应商名称</th>-->
            <!--<th>国家</th>-->
            <!--<th>创建时间</th>-->
            <!--<th>修改时间</th>-->

            {foreach name='title' item='v'}

            <th>{$v}</th>

            {/foreach}


            <!--<th>Group</th>-->
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {foreach name="data" key="k" item="v"}
        <tr>

            {foreach name='field' item='v1'}

            <td>{:getWithData($v,$v1)}</td>

            {/foreach}

            <script>

                var tem={$v};
                //动态声明变量
                eval("var v_{$k} = tem");

                console.log(v_{$k});

            </script>

            <!--<td>@steve</td>-->
            <td><span class="fa fa-map-marker" title="选择" onclick="set_parent_data(v_{$k})"></span></td>
        </tr>
        {/foreach}
        <!--<tr>-->
        <!--<td>2</td>-->
        <!--<td>Simon</td>-->
        <!--<td>Philips</td>-->
        <!--<td>@simon</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>3</td>-->
        <!--<td>Jane</td>-->
        <!--<td>Doe</td>-->
        <!--<td>@jane</td>-->
        <!--</tr>-->
        </tbody>
    </table>
    {$data->render()}
</div>
</div>


<script>

//    function getdatas() {
//
//
//
//        window.opener.document.getElementsByName('seller_id')[0].value=123;
//
//
//        window.close();
//
//    }
    //开始搜索
    function search_seller() {

        var name=$("#seller_name").val();


        location.href="{:getUrlButName()}/name/"+name;
        
    }

    function set_parent_data(data) {

//        window.opener.document.getElementById('seller_name').value=name;
//
//        window.opener.document.getElementsByName('seller_id')[0].value=id;


        //将数据传回父窗口
//        window.opener.get_son_data(data);

        window.opener.openChildWindow.get_son_data(data);


        window.close();
    }


</script>
</body>
</html>