<!DOCTYPE html>
<html lang="en">
<head>
    <title>More-V</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="keywords" content="More-V">
    <meta name="description" content="More-V">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" href="__STATIC__/home/images/logo_fav.ico">
    <link rel="apple-touch-icon" href="__STATIC__/home/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="__STATIC__/home/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="__STATIC__/home/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="__STATIC__/home/images/apple-touch-icon-144x144.png">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/bootstrap.css">
    <link rel="stylesheet" href="__STATIC__/home/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/home/css/morev.css">

    <link rel="stylesheet" href="__STATIC__/home/js/build/mediaelementplayer.css">


    <link href="__STATIC__/home/css/owl.carousel.css" rel="stylesheet">
    <script src="__STATIC__/home/js/javascript/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/admin/scripts/vue.js"></script>



    <!--[if It IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>




<header id="topNav">
    <div class="top_main1">
        <div class="top_header_info">
            <nav class="navbar navbar-default top_main">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed btns" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="__MODULE__/index/index">
                        <img src="__STATIC__/home/images/BAB-Logo.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <div id="m_nav_container" class="m_nav wht_bg">
                        <nav class="menu menu-sebastian">
                            <ul id="m_nav_list" class="m_nav menu_list ">
                                <!--<li class="m_nav_item">-->
                                    <!--<a class="link link-kuya" href="__MODULE__/index/index" >-->
                                        <!--<span data-letters="Home">Home</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li class="m_nav_item dropdown ">
                                    <a  href="about_us.html" class="dropdown-toggle link link-kuya" data-toggle="dropdown">
                                        <span data-letters="About Us">About Us</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li>
                                            <a href="__MODULE__/index/more_v">More-V</a>
                                        </li>
                                        <li>
                                            <a href="__MODULE__/index/service">What We Do</a>
                                        </li>
                                        <li>
                                            <a href="__MODULE__/service/client">Other services</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="m_nav_item dropdown">
                                    <a  href="javascript:void(0);" class="dropdown-toggle link link-kuya" data-toggle="dropdown">
                                        <span data-letters="Events">Events</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li>
                                            <a href="__MODULE__/index/events">Latest Events</a>
                                        </li>
                                        <li>
                                            <a href="__MODULE__/index/activity">Landmarked Agrifood</a>

                                            <!--<a href="__MODULE__/index/events_detail">Events_detail</a>-->
                                        </li>
                                    </ul>
                                </li>
                                <!--<li class="m_nav_item">-->
                                    <!--<a class="link link-kuya" href="">-->
                                        <!--<span data-letters="Brand Story">Brand Story</span>-->
                                    <!--</a>-->
                                <!--</li>-->

                                <!--<li class="m_nav_item">-->
                                    <!--<a class="link link-kuya" href="__MODULE__/index/activity">-->
                                        <!--<span data-letters="China PO">China PO</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li class="m_nav_item dropdown  ">
                                    <a class="dropdown-toggle link link-kuya" href="javascript:void(0);"  data-toggle="dropdown">
                                        <span data-letters="Smart Tools">Smart Tools</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li>
                                            <a href="__MODULE__/index/loveBox">LoveBox</a>
                                        </li>
                                        <li>
                                            <a href="__MODULE__/index/smartTool">VR-Phone</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="m_nav_item">
                                    <a class="link link-kuya" href="__MODULE__/index/News">
                                        <span data-letters="News">News</span>
                                    </a>
                                </li>
                                <li class="m_nav_item">
                                    <a class="link link-kuya" href="__MODULE__/index/Contact">
                                        <span data-letters="Contact Us">Contact Us</span>
                                    </a>
                                </li>
                                <!--<li class="m_nav_item">-->
                                    <!--<a class="link link-kuya" href="" >-->
                                        <!--<span data-letters="Login">Login</span>-->
                                    <!--</a>-->
                                <!--</li>-->

                                <!--登录成功后显示-->
                                <li class="m_nav_item login-fade">
                                    <a class="link link-kuya" href="__MODULE__/user/sign_up">
                                        <div class="portrait">
                                            {if request()->user }

                                            <!--登录成功头像-->
                                            <img src="__STATIC__/home/images/Eportrait.png" alt="">

                                            {else/}
                                            <!--未登录时头像-->
                                            <img src="__STATIC__/home/images/portrait.png" alt="">


                                            {/if}
                                        </div>
                                    </a>
                                    {if request()->user}
                                    <ul class="login-dropdown">
                                        <li>
                                            <a href="__MODULE__/login/logout">Manage Account Logout</a>
                                        </li>
                                    </ul>
                                    {/if}
                                </li>

                                {if !request()->user}
                                <!--登录-->
                                <li class="m_nav_item">
                                    <!--<a class="link link-ya" href="__MODULE__/index/register" style="color:#fff !important;">-->
                                        <!--<span data-letters="+Join Now">+Join Now</span>-->
                                    <!--</a>-->
                                    <a class="link link-ya" href="http://matching.more-v.net/#/login/exhibitor" style="color:#fff !important;">
                                        <span data-letters="+Join Now">+Join Now</span>
                                    </a>
                                </li>
                                {/if}

                            </ul>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</header>







{block name="content"}主内容{/block}



<!--footer-->
<div id="footer">
    <div class="container">
        <div class="col-md-4">
            <div class="col-md-8 footer_model footer_model_o">
                <h2>MORE-V</h2>
                <p>Sales ＆ Brand Promotion Organization
                </p>
                <a href="__MODULE__/index/register" class="footer_model_o_detail">Join us Now</a>
            </div>
            <div class="col-md-4 footer_model">
                <h2>About Us</h2>
                <a href="__MODULE__/index/more_v">More-V</a>
                <a href="__MODULE__/index/service">Our Services</a>
                <a href="">Our Clients</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-2 footer_model">
                <h2>Events</h2>
                <a href="__MODULE__/index/events">Latest Events</a>
                <a href="__MODULE__/index/activity">Landmarked Agrifood</a>
            </div>
            <div class="col-md-3 footer_model">
                <h2>Smart Tools</h2>
                <a href="__MODULE__/index/loveBox">Love Box </a>
                <a href="__MODULE__/index/smartTool">VR Phone</a>
            </div>
            <div class="col-md-4 footer_model">
                <h2>News</h2>

                {tt:models model="\app\home\model\NewsModel" limit='2'}
                <div class="footer-ps">
                    <a href="__MODULE__/news/news_detail/id/{$v.id}">
                        <img src="__FILE__/{$v.img}" width="60px" class="footer-p">
                        <p class="footer-p1">{$v.title}</p>
                        <i class="footer-i">{$v.news_date}</i>
                    </a>
                </div>
                {/tt:models}



            </div>
            <div class="col-md-3 footer_model">
                <h2>Contact Us</h2>

                <a href="">
                    <img src="__STATIC__/home/images/Email-Icon.png" class="mail">&nbsp;
                    <span>info@more-v.net</span>
                </a>
                <p class="bottom-p">
                    <img src="__STATIC__/home/images/phone-512.png" class="mail">&nbsp;<span>(425) 777-6756</span>
                </p>
                <p class="bottom-p">
                    <img src="__STATIC__/home/images/cz.png" class="mail">&nbsp;<span>(425) 780-4401</span>
                </p>
                <p class="bottom-p">
                    <img src="__STATIC__/home/images/dt.png" class="mail">
                    <span>
                        &nbsp;&nbsp;More-V USA<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;22722 29th Drive SE<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suite 100<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bothell, WA  98021
                    </span>
                </p>
            </div>

        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="col-md-6 footer_bottom_o">
                <h2>Copyright © more-v.com All rights reserved.</h2>
            </div>
            <div class="col-md-6 footer_bottom_t">
                <ul>
                    <li>
                        <a href="">
                            <img src="__STATIC__/home/images/email.png" alt="">
                        </a>
                    </li>
                    <li class="wechat-li">
                        <a href="javascript:void(0);" class="wechat">
                            <img src="__STATIC__/home/images/wechat.png" alt="">
                        </a>
                        <div class="wechat-div">
                            <img src="__STATIC__/home/images/eweim.png" class="wechat-img">
                        </div>
                    </li>
                    <li>
                        <a href="http://weibo.com/p/1006066031002132/home?from=page_100606&mod=TAB#place" target="_blank">
                            <img src="__STATIC__/home/images/weibo.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/more-vusa" target="_blank">
                            <img src="__STATIC__/home/images/linkedIn.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/morevusa/" target="_blank">
                            <img src="__STATIC__/home/images/fb.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/more_usa" target="_blank">
                            <img src="__STATIC__/home/images/twitter.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a href="#home" id="toTop" class="scroll" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"> </span>
</a>






<script type="text/javascript" src="__STATIC__/home/js/javascript/bootstrap.min.js"></script> <!-- Bootstrap file-->
<script src="__STATIC__/home/js/build/mediaelement-and-player.min.js"></script>
<script src="__STATIC__/home/js/owl.carousel.js"></script>


<script type="text/javascript" src="__STATIC__/home/js/javascript/jQueryTween-aio-min.js"></script> <!-- JQUERY Tween Plugin -->
<script type="text/javascript" src="__STATIC__/home/js/javascript/jquery.tabslet.min.js"></script> <!-- JQUERY Tab plugin-->
<script type="text/javascript" src="__STATIC__/home/js/javascript/progressbar.min.js"></script> <!-- JQUERY Progressbar Plugin-->
<script type="text/javascript" src="__STATIC__/home/js/javascript/jquery.simple-text-rotator.min.js"></script> <!-- JQUERY Text Rotator-->
<script type="text/javascript" src='__STATIC__/home/js/javascript/isotope.pkgd.min.js'></script>
<script type="text/javascript" src='__STATIC__/home/js/javascript/classie.js'></script>
<script type="text/javascript" src="__STATIC__/home/js/morev.js"></script>

<script>
    //鼠标滑动头像隐藏框显示
    $(".login-fade").hover(function(){
        $(this).find('.login-dropdown').fadeIn(500);
    },function(){
        $(this).find('.login-dropdown').fadeOut(500);

    });


//    $('.dropdown,dropdown-menu').hover(function(){
//        $(this).find('.dropdown-menu').show(500);
//    },function(){
//        $(this).find('.dropdown-menu').hide(500);
//    });

    //滚动导航栏切换
    $(document).scroll(function(){
        var y=$(window).scrollTop();
        if(y > 0){
            $(".top_header_info").addClass("blue");
            $('.navbar-brand img').attr("src",'__STATIC__/home/images/BAB-Logo1.png');

        }else{
            $(".top_header_info").removeClass("blue");
            $('.navbar-brand img').attr("src",'__STATIC__/home/images/BAB-Logo.png');

        }
    });



    //获取当前请求action
    var a='{:request()->action()}';
//    console.log(a);

    //导航栏的选中效果
    $("#m_nav_list li a").each(function (index,item) {

        //获取导航栏链接
        var href=$(item).attr('href');

//        console.log($(item).attr('href'));


        var index=href.lastIndexOf('/');

        if(index<0)return true;

        //获取action
        var action=href.substr(index+1);

        if(a.toLocaleLowerCase()==action.toLocaleLowerCase()){

            $(item).parents('.m_nav_item').addClass('curr');

            return false;

        }

    });

/**
 * 处理链接并且跳转，      例如处理后的链接为:http://usa.app/home/Sell/selling_leads/standard/[syhssyh,syheqsyh,syh4545454syh,syhstandard2syh]/name/[syhssyh,syhlikesyh,syh12syh,syhnamesyh]/place/[syhssyh,syheqsyh,syh0syh,syhplacesyh]/
 * @param key_arr        字段名称
 * @param value_arr      值
 * @param table_arr      表名（主要对付联表查询）
 * @param condition_arr  表达式，eq like
 * @param id_arr         元素id
 * @param exclude        不包括哪个get值，默认是p的分页值
 */
function get_url(key_arr,value_arr,table_arr,condition_arr,id_arr,exclude) {

    //不包括的get值为p
    if(!exclude) exclude='p';

    //获取get所有参数
    var url='{:json_encode(input("param."))}';


    url=JSON.parse(url);

    //不包括参数的地址
    var path='{:request()->domain()."/".request()->module()."/".request()->controller()."/".request()->action()}';

    var new_parm="";

    $.each(url,function (index,item) {
        //如果原地址中有这个字段，就跳过这次循环
        if($.inArray(index,key_arr)>=0) return true;

        if(index==exclude) return true;

//        console.log();


        new_parm+=index+"/"+item+"/";


    });
    
    
    $.each(key_arr,function (index,item) {

        var k=JSON.stringify([table_arr[index],condition_arr[index],value_arr[index],id_arr[index]]);

//        k=encodeURIComponent(k);

//        k=k.replace('"',"%ss");

        new_parm+=item+"/"+k+"/";
    });


    var new_url=path+"/"+new_parm;

    //替换掉"
    new_url=new_url.replace(/"/g,'syh');


    console.log(new_url);


    location.href=new_url;


}

/**
 * 整个表单提交时的处理，表单实例：<input type="text" name='{"key":"name","table":"s","condition":"like","id":"name"}' />
 * 转成get_url()可以处理的格式
 * @param formObj
 */
function get_form_data(formObj) {


   var s=$(formObj).serializeArray();

   var key_arr=[];
   var value_arr=[];
   var table_arr=[];
   var condition_arr=[];
   var id_arr=[];

   $.each(s,function (index,item) {


       var data=item.name;


        data=JSON.parse(data);

       key_arr.push(data.key);
       value_arr.push(item.value);
       table_arr.push(data.table);
       condition_arr.push(data.condition);
       id_arr.push(data.id);


   });




    get_url(key_arr,value_arr,table_arr,condition_arr,id_arr);


 }

/**
 * 表单的自动填充（用于筛选）
 */
function form_auto_fill() {



    //获取get所有参数
    var param='{:json_encode(input("param."))}';


    param=JSON.parse(param);



     var real_param=[];

     $.each(param,function (index,item) {



         item=JSON.parse(item.replace(/syh/g,'"'));

         var id=item[3];



         var obj=$("#"+id);

         switch ($(obj)[0].tagName){

             case "INPUT":


                 switch ($(obj).attr('type')){


                     case 'button':

                         //判断是否有值，有值激活
                         if(item[2])$(obj).addClass('active');


                         break;

                     case 'text':


                         $(obj).val(item[2]);


                 }




                 break;

             case "SELECT":


                 $(obj).val(item[2]);


                 break;


         }




     });







 }


/**
 * 表单回填（用于表单提交）
 * @param value
 */
function auto_fill(value) {




    $.each(value,function (index,item) {


        //这里防止异常跳出循环，有的是没有name的
        try {

            //标签名
            var docName=$("[name=" + index + "]")[0].tagName;
            //标签对象
            var obj=$("[name^=" + index + "]");

        }catch (e){

            return true;
        }



        switch (docName){


            case "INPUT":


                console.log($(obj).attr('type'));

                switch ($(obj).attr('type')){


                    case "text":


                        $(obj).val(item);

                        break;


                    case "radio":


                        $.each($(obj),function (index1,item2) {

                            if($(item2).val()==item){

                                $(item2).attr('checked','checked');
                            }



                        });


                        break;

                    // case "datetime-local":
                    //
                    //     $(obj).val(item);
                    //
                    //
                    //     break;



                }


                break;


            case "SELECT":

                $(obj).val(item);



                break;


        }




    });



}



/**
 * 文件上传
 * @param file
 * @param name
 * @param callback
 */
function uploadFileObj(name,file,callback) {
    //文件对象

    var data=new FormData();


    data.append(name,file);



    $.ajax({
        url:"__BASE__/admin/common/upload_file",
        type:"post",
        data:data,    //表单数据
        dataType:'json',
        cache: false,//不缓存
        processData: false,//processData设置为false。因为data值是FormData对象，不需要对数据做处理。
        contentType: false,//contentType设置为false。因为是由<form>表单构造的FormData对象，且已经声明了属性enctype="multipart/form-data"，所以这里设置为false。
        success:function (re) {


            callback(re);

        }


    });



}

    /**
     * 获取文件
     * @param obj
     */
    function getFile(obj) {

   var f= $(obj)[0].files[0];


   return f;
}


function getArrForString(val) {

        if(!val) return [];

    return eval("("+val+")");
}



</script>

</body>
</html>